
.wrap {
  margin-bottom: 25px;

  .title {
    font-size: var(--mediumFont);
    font-weight: var(--semiBold);
    margin: 15px 0 25px;
  }

  .selectsWrap {
    display: flex;
    justify-content: space-between;
  }

  select {
    width: 47%;
    padding: 5px;
    font-weight: var(--semiBold);
    font-size: var(--mediumFont);
    border: 2px solid var(--lightGreyColor);
    border-radius: 6px;
  }

  select option {
    font-size: var(--mediumFont);
    font-weight: var(--semiBold);
    color: lighten(#1d1d1d, 20%);
  }
  select:focus > option:checked {
    background: var(--secondaryColor);
    color:var(--lightPrimaryColor)
  }

}

@media (max-width: 576px) {
  .wrap{
    margin-bottom: 10px;
  }

  .wrap .selectsWrap {
    flex-direction: column;

  }
  .wrap .selectsWrap select{
    margin:0 0 20px;
    width: 100%;
  }
}