.label {
  font-weight: var(--semiBold);
  font-size: var(--mediumFont);

  .title {
    display: flex;
    align-self: center;
  }
  input{
    border:2px solid var(--focusColor);
    font-size: var(--mediumFont);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .units{
    margin-left: 10px;
    width: 15px;
  }
}
