.wrap {
  font-weight: var(--semiBold);
  font-size: var(--mediumFont);
  display: flex;
  align-items: center;

  .title {
    margin-right: auto;
  }

  .counter {
    display: flex;
    border-radius: 6px;
    padding: 5px;
  }

  .counter input {
    margin: 3px 10px;
    font-size: var(--mediumFont);
    color: var(--primaryColor);
    width: 30px;
    text-align: center;
    background: transparent;
  }
}
