@font-face {
  font-family: "Omnes";
  src: url("../fonts/Omnes/Omnes-Light.woff2") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Omnes";
  src: url("../fonts/Omnes/Omnes-Regular.woff2") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Omnes";
  src: url("../fonts/Omnes/Omnes-SemiBold.woff2") format("truetype");
  font-style: normal;
  font-weight: 600;
}


@font-face {
  font-family: "Omnes";
  src: url("../fonts/Omnes/OmnesCond-Black.woff2") format("truetype");
  font-style: normal;
  font-weight: 900;
}
