:root {
  --textPrimary: #202125FF;
  --textSecondary:rgba(32, 33, 37, 0.64);
  --textLightPrimary: #fff;
  --focusColor: #00c2e8;
  --inactiveColor: grey;
  --devideColor:rgb(207 207 207 / 64%);
  --errorColor: red;

  --light: 300;
  --regular: 400;
  --semiBold: 600;
  --bold: 900;

  --smallFont:0.875rem;
  --mediumFont:1.125rem;
  --largeFont:2rem;
}

