.App {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  height: 100svh;
  background: linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5) ), url('../shared/assets/front-cells.png');
}


