.button {
  background: var(--textLightPrimary);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: relative;

  div {
    font-size: 26px;
    font-weight: var(--semiBold);
    color: var(--focusColor);
    position: absolute;
    top:40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

  }

}