.button {
  background: var(--lightPrimaryColor);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: relative;

  > div {
    font-size: 30px;
    font-weight: var(--semiBold);
    color: var(--inactiveColor);
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: 0.2s;
  }

  > div:active {
    color:var(--focusColor)
  }
}