.wrap {
  width: 400px;
  height: 500px;
  display: block;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.06) 0 0 1rem 0, rgba(0, 0, 0, 0.12) 0 1rem 1rem 0;

  .title {
    font-weight: var(--bold);
    font-size: var(--largeFont);
    padding: 30px 30px 0;
  }

  .subtitle {
    font-weight: var(--semiBold);
    color: var(--textSecondary);
    padding: 0 30px 20px;
    border-bottom: 4px solid var(--devideColor)
  }

  form {
    padding: 30px;

  }

  .numberInputsWrap {
    > div {
      margin: 10px 0 10px;
    }
  }
}



